*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;
}
.top{
    border: 1px solid black;
    width: 500px;
    height: 180px;
    margin-left: 100px;
}
.left{
    margin-top: 40px;
    padding-left: 15px;
}
.right{
    margin-top: 25px;
    padding-left: 15px;
}
.down{
    margin-top: 20px;
    padding-left: 15px;
}
    